default:
  image: cirrusci/flutter:2.0.3

stages: 
  - build-debug
  - build-release


build-debug-android:
  environment: android
  stage: build-debug
  except:
    - master
    - tags
  script:
    - flutter clean
    - flutter pub get
    - flutter pub run flutter_launcher_icons:main
    - flutter pub run flutter_native_splash:create
    - flutter build appbundle --debug --dart-define=BEARER_TOKEN=${BEARER_TOKEN}

build-release-android:
  environment: android
  stage: build-release
  only:
    - master
  before_script:
    - cat ${KEYSTORE_FILE} | base64 --decode > android/app/key.jks
    - | 
      cat > android/key.properties << EOF
      storePassword=${KEYSTORE_PASSWORD}
      keyPassword=${KEYSTORE_KEY_PASSWORD}
      keyAlias=${KEY_ALIAS}
      storeFile=key.jks
      EOF
  script:
    - flutter clean
    - flutter pub get
    - flutter pub run flutter_launcher_icons:main
    - flutter pub run flutter_native_splash:create
    - flutter build appbundle --release --build-name=1.1.${CI_PIPELINE_IID} --build-number=${CI_PIPELINE_IID} --dart-define=BEARER_TOKEN=${BEARER_TOKEN}
    - echo 'Build release appbundle 1.1.${CI_PIPELINE_IID}+${CI_PIPELINE_IID}'
  artifacts: 
    paths: 
      - build/app/outputs/bundle/release/app-release.aab



# If we wanted, we could automatically create releases with an associated tag
# Then run the build-release-android step only for these tags via
#
# only:
#   refs: ^v\d+.\d+.\d+\+\d+$ 
#
# I haven't put this in because I can't figure out how to automatically populate the tag/
# release description with that of the merge request, and that information is more important 
# for the patch notes on promoting a release than the build number of the release itself
#
#
#tag-release:
#  stage: tag-release
#  image: registry.gitlab.com/gitlab-org/release-cli:latest
#  needs:
#    - job: build-release-android
#      artifacts: true
#  rules:
#    - if: $CI_COMMIT_TAG
#      when: never
#    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#  script:
#    - echo 'running release_job for v1.1.${CI_PIPELINE_IID}+${CI_PIPELINE_IID}'
#  release:
#    name: Release v1.1.${CI_PIPELINE_IID}+${CI_PIPELINE_IID}
#    description: ${CI_COMMIT_MESSAGE}
#    tag_name: v1.1.${CI_PIPELINE_IID}+${CI_PIPELINE_IID}
#    ref: ${CI_COMMIT_SHA}
#
#
# example from https://docs.gitlab.com/ee/ci/yaml/README.html#complete-example-for-release
#