default:
  image: cirrusci/flutter:2.0.3

variables:
  BUILD_NAME: 1.1.${CI_PIPELINE_IID}
  BUILD_NUMBER: ${CI_PIPELINE_IID}
  RELEASE_TAG: v${BUILD_NAME}+${BUILD_NUMBER}


stages: 
  - build-debug
  - build-release
  - release


build-debug-android:
  environment: android
  stage: build-debug
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  script:
    - flutter clean
    - flutter pub get
    - flutter pub run flutter_launcher_icons:main
    - flutter pub run flutter_native_splash:create
    - flutter build appbundle --debug


build-release-android:
  environment: android
  stage: build-release
  only:
    - master
  before_script:
    - cat ${KEYSTORE_FILE} | base64 --decode > android/app/key.jks
    - | 
      cat > android/key.properties << EOF
      storePassword=${KEYSTORE_PASSWORD}
      keyPassword=${KEYSTORE_KEY_PASSWORD}
      keyAlias=${KEY_ALIAS}
      storeFile=key.jks
      EOF
  script:
    - flutter clean
    - flutter pub get
    - flutter pub run flutter_launcher_icons:main
    - flutter pub run flutter_native_splash:create
    - flutter build appbundle --release --build-name=${BUILD_NAME} --build-number=${BUILD_NUMBER}
  artifacts: 
    paths: 
      - build/app/outputs/bundle/release/app-release.aab

# example from https://docs.gitlab.com/ee/ci/yaml/README.html#complete-example-for-release
create-release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build-release-android
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - echo 'running release_job for ${RELEASE_TAG}'
  release:
    name: Release ${RELEASE_TAG}
    description: ${CI_COMMIT_MESSAGE}
    tag_name: ${RELEASE_TAG}
    ref: ${CI_COMMIT_SHA}
